*{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: green;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
}

main{
    /*margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;*/
    margin: 20px auto;
    text-align: center;
    padding: 20px 50px 20px 50px;
    border: 10px solid darkcyan;
    width: 600px;
    height: 300px;
    max-width: 1000px;
    min-width: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: scroll;
}

footer{
    margin: 20px auto;
    padding: 20px 50px 20px 50px;
    border: 10px solid black;
    box-sizing: border-box;
}

.bg_blue{
    background-color: blue;
}

.text_white{
    color: white;
}

.bg_yellow{
    background-color: gold;
}