*{
    font-family: 'Slabo 27px', serif;
}

body{
    border: 3px solid black;
}

#logo{
    margin: 20px auto;
    width: 300px;
    height: 58px;
    text-align: center;
}

#keys{
    text-align: center;
}

#text{
    text-align: center;
    font-size: 25px;
    width: 600px;
    margin: 0 auto;
}

#home{
    color: red;
}

li{
    display: inline-block;
    padding: 20px 30px;
}

ul{
    text-align: center;
    margin: 20px auto;
    padding-left: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 600px;

}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}